@using Webshop.UI_MVC.Models.Webshop
@model IEnumerable<Webshop.UI_MVC.Models.Webshop.ShoppingCart>

@{
    ViewBag.Title = "Bestelling plaatsen";
}

<h2>Bestelling plaatsen</h2>

<h3>Bent u zeker dat u deze bestelling wilt plaatsen?</h3>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th data-defaultsign="_19">
                Opleiding
            </th>
            <th data-defaultsign="_19">
                Aantal
            </th>
            <th data-defaultsign="_19">
                Prijs
            </th>
        </tr>
        </thead>

        @foreach (ShoppingCart item in (List<ShoppingCart>) Session["cart"])
        {
            <tr>
                @if (item.Product == null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)&nbsp;
                    </td>
                    <td>
                        €@(item.Course.Price * item.Quantity)
                    </td>
                }
                @if (item.Course == null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)&nbsp;
                    </td>
                    <td>
                        €@(item.Product.Price * item.Quantity)
                    </td>
                }
            </tr>
        }
        <div>
            <h4>
                @{
                    List<ShoppingCart> cart = (List<ShoppingCart>) Session["cart"];
                    var total = cart.Where(item => item.Course != null).Sum(item => item.Course.Price * item.Quantity);
                    var total2 = cart.Where(item => item.Product != null).Sum(item => item.Product.Price * item.Quantity);
                    var total3 = total + total2;
                }

                <div>
                    <strong style="text-decoration: underline">Totaal</strong>
                </div>
                <h5>
                    <strong>Prijs : €@total3</strong>
                </h5>

            </h4>

        </div>
    </table>
</div>
<div>
    <hr/>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Bestel!" class="btn btn-default"/> |
            @Html.ActionLink("Terug naar de winkelmand", "Index", "ShoppingCart")
        </div>
    }
</div>