@model Webshop.UI_MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Registreer";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <h4>Maak een nieuw account aan.</h4>
    <hr/>
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Surname, "Achternaam", new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Surname, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Firstname, "Voornaam", new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Firstname, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address, "Adres + Huisnummer", new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ZIPCode, "Postcode", new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ZIPCode, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, "Tel. nummer", new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Wachtwoord", new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, "Wachtwoord herhalen", new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.Label("User Role", new {@class = "col-md-2 control-label",@style= "display:none"})
        <div class="col-md-10">
            @*@Html.DropDownList("Name")*@
            <div class="form-group">
                @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, new { @style = "display:none" })
            </div>
        </div>
        </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Registreer"/>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}