@model Webshop.UI_MVC.Models.Webshop.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cursus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Naam")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Prijs")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzig", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Terug naar lijst", "Index")
</p>
